.wrapper {
    text-align: center;
}

.content {
    display: inline-block;
    text-align: left;
    background: white;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #dddddd;
    -moz-box-shadow: 5px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px 5px rgba(0,0,0,0.2);
    box-shadow: 5px 5px rgba(0,0,0,0.2);
}

.container-main {
    width: 1170px;
    text-align: justify;
    color: #5a5021;
    font-family: verdana, sans-serif;
}

.subcontainer {
    text-align: left;
    color: inherit;
    display: inline-block;
}

.rule-right {
    border-right: 2px solid #ddd;
}

.rule-left {
    border-left: 2px solid #ddd;
}

.rule-bottom {
    border-bottom: 2px solid #ddd;
}

.subcontainer-1 {
    width: 25% fixed;
}

.subcontainer-2 {
    width: 50% fixed;
}

.subcontainer-3 {
    width: 75% fixed;
}

.btn {
    cursor: pointer;
    width: auto;
}

#btn-edit {
    width: 43%;
}

.container-main > p {
    color: #000;
}

.header {
    text-align: center;
    color: #5a5021;
    font-family: Arial, sans-serif;
}

.no-margin {
    margin: 0;
}

.spacer-margin {
    margin: 0;
    margin-top: 5;
    margin-bottom: 5;
}

#load {
    visibility: hidden;
    z-index: -1;
}